$navHeight: 3rem;

* {
    margin: 0;
    box-sizing: border-box;
}



.App {
    --bgColor: rgb(187, 187, 187);
    --secColor: rgb(223, 223, 223);
    --mainColor: rgba(37, 95, 223, 0.432);
    --fontColor: black;
    background-color: var(--bgColor);
    min-height: 100vh;
}

.App.darkMode {
    --bgColor: rgb(59, 59, 59);
    --secColor: rgb(90, 90, 90);
    --mainColor: rgb(117, 33, 185);
    --fontColor: white;
    background-color: var(--bgColor);
}


.App {
    * {
        color: var(--fontColor);

    }
}

.textCenter {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.App {
    padding-bottom: 2rem;
}

main,
.inner {
    width: 80rem;
    max-width: 94%;
    margin: 0 auto;
}

main {
    padding-top: $navHeight;
}

.margin0Auto{
    margin: 0 auto;
}


nav {
    height: $navHeight;
    text-transform: uppercase;
    background-color: var(--secColor);

    .inner {
        height: 100%;
        display: flex;
        align-items: center;

        &>ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            width: 20rem;
        }
    }
}

.autoSuggestInput {
    width: 18rem !important;
    height: 2rem !important;
    margin: 0 1rem 0 auto !important;
    border-radius: 1rem !important;

    .ASI_FlexContainer {
        border-radius: 0.9rem;
    }

    * {
        background-color: var(--bgColor) !important;

    }

    .spinner {
        * {
            background-color: var(--fontColor) !important;

        }
    }

    .ASI_SuggestionItem:hover,
    .ASI_Active {
        background-color: var(--secColor) !important;
    }

    input {
        border: none;
    }

    .ASI_Submit {
        min-width: calc(2rem - 2px) !important;
        background-image: url('../static/searchIcon.svg');
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}


.loading {
    font-size: 2rem;
    font-weight: bold;
}






.thumbnailGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 0.2rem;
}





.movieItem {
    width: 100%;
    /* height: 12rem; */
    position: relative;
}

.movieItem img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.movieItem p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 0.2rem 0.4rem;
    color: black;
    font-weight: bold;
}

.loadMore{
    display: block;
    margin: 4rem auto 1rem auto;
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    background-color: var(--mainColor);
    border: none;
    cursor: pointer;
    transition: 0.6s;

    &:hover{
        transform: scale(1.2);
    }
}

.noMoreMovies{
    width: 10rem;;
    margin: 4rem auto 1rem auto;
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    background-color: var(--secColor);
    text-align: center;

}


.movieView {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.movieView img {
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
}

.movieView .description {
    flex: 1;
    min-width: 20rem;
    max-width: 100%;
    padding: 0.2rem 1rem;
}

.movieView p {
    margin: 0.4rem 0;
}

.overview {
    margin-top: 2rem !important;
}

.genres {
    width: 100%;
    margin: 1.4rem 0;
    display: flex;
    flex-wrap: wrap;
}

.genreItem {
    margin: 0 0.4rem;
    padding: 0 1rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: lightgray;
}



.darkModeToggle {
    height: 1.2rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    border: 1px solid var(--bgColor);
    text-transform: lowercase;

    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 0.7rem;
    background-color: rgb(48, 48, 48);
    color: rgb(233, 233, 233);
    line-height: 2rem;

    input {
        display: none;
    }

    .switch-handle {
        background-color: rgb(233, 233, 233);
        color: rgb(48, 48, 48);
        border-radius: 2rem;
        position: absolute;
        left: calc(100% - 1.2rem);
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        transition: 1s;

        &:before {
            content: "";
            border-radius: 2rem;
            height: 100%;
            width: 1.2rem;
            background-color: rgb(145, 145, 145);
            margin-right: 0.1rem;
        }
    }

    &.darkModeActive {
        .switch-handle {
            left: 0;
        }
    }
}