* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  --bgColor: rgb(187, 187, 187);
  --secColor: rgb(223, 223, 223);
  --mainColor: rgba(37, 95, 223, 0.432);
  --fontColor: black;
  background-color: var(--bgColor);
  min-height: 100vh;
}

.App .trailerLink {
  background-color: var(--mainColor);
  padding: 0.8rem 0 0.8rem 1.6rem;
  text-align: center;
  width: 11rem;
  border-radius: 0.6rem;
  background-image: url("../static/movieLight.svg");
  background-size: 1.8rem;
  background-position: 0.3rem center;
  background-repeat: no-repeat;
  font-weight: bold;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: 0.8rem 0;
}

.App .trailerLink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.App.darkMode {
  --bgColor: rgb(59, 59, 59);
  --secColor: rgb(90, 90, 90);
  --mainColor: rgb(117, 33, 185);
  --fontColor: white;
  background-color: var(--bgColor);
}

.App.darkMode .trailerLink {
  background-image: url("../static/movieDark.svg");
}

.App * {
  color: var(--fontColor);
}

.textCenter {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  padding-bottom: 2rem;
}

main,
.inner {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

main {
  padding-top: 3rem;
}

.margin0Auto {
  margin: 0 auto;
}

.flexCenterAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: var(--secColor);
}

nav .inner {
  background-color: var(--secColor);
  z-index: 6;
  height: 100%;
  max-width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .inner h3 {
  text-transform: none;
  margin-right: 3rem;
}

nav .inner > ul {
  margin: 0;
}

.inner > ul,
.mobileNav > ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 12rem;
}

.openNavIcon {
  display: none;
  margin-left: 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--mainColor);
  padding: 0.2rem 0.6rem;
}

.mobileNav {
  position: fixed;
  top: 3rem;
  height: 8rem;
  background-color: var(--secColor);
  z-index: -1;
  width: 100%;
  -webkit-animation: openNav 0.4s ease-in-out;
          animation: openNav 0.4s ease-in-out;
}

.mobileNav > ul {
  margin: 0.6rem 3% 0.8rem 3%;
}

.mobileNav .autoSuggestInput {
  width: 94% !important;
  margin: 0 auto !important;
}

@-webkit-keyframes openNav {
  from {
    top: -8rem;
  }
  to {
    top: 3rem;
  }
}

@keyframes openNav {
  from {
    top: -8rem;
  }
  to {
    top: 3rem;
  }
}

.autoSuggestInput {
  width: 18rem !important;
  height: 2rem !important;
  margin: 0 1rem 0 auto !important;
  border-radius: 1rem !important;
}

.autoSuggestInput .ASI_FlexContainer {
  border-radius: 0.9rem;
}

.autoSuggestInput * {
  background-color: var(--bgColor) !important;
}

.autoSuggestInput .spinner * {
  background-color: var(--fontColor) !important;
}

.autoSuggestInput .ASI_SuggestionItem:hover,
.autoSuggestInput .ASI_Active {
  background-color: var(--secColor) !important;
}

.autoSuggestInput input {
  border: none;
}

.autoSuggestInput .ASI_Submit {
  min-width: calc(2rem - 2px) !important;
  background-image: url("../static/searchIcon.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
}

.thumbnailGrid {
  padding-top: 0.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  -ms-grid-rows: (1fr)[auto-fill];
      grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 0.2rem;
}

.movieItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imageDimension {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  position: relative;
  background-color: var(--secColor);
}

.imageDimension img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movieItemDesc {
  margin-top: 0.2rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

.movieItemDesc .moviteItemTitle {
  height: 2.6rem;
}

.movieItemDesc .dateRatingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movieItemDesc .dateRatingWrapper .movieDate {
  width: 6rem;
}

.movieRating {
  background-color: var(--mainColor);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-weight: bold;
}

.movieItemShell {
  width: 100%;
  height: 5.2rem;
  background-color: var(--secColor);
  padding-bottom: 150%;
  border-radius: 0.6rem;
  -webkit-animation: scaleAnimation 2s infinite ease-in-out;
          animation: scaleAnimation 2s infinite ease-in-out;
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loadMore {
  display: block;
  margin: 4rem auto 1rem auto;
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  background-color: var(--mainColor);
  border: none;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.loadMore:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.noMoreMovies {
  width: 10rem;
  margin: 4rem auto 1rem auto;
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  background-color: var(--secColor);
  text-align: center;
}

.movieView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.movieView .imageWrapper {
  width: 24rem;
  max-width: 100%;
  margin: 0 auto;
}

.movieView .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 20rem;
  max-width: 100%;
  padding: 0.2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movieView .basicInfo {
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieView .basicInfo p {
  margin: 0 0 0 0.4rem;
}

.movieView .basicInfo .movieRating {
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--secColor);
  font-size: 1.3rem;
}

.movieView .basicInfo .movieRating svg {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.movieView .basicInfo .movieRating svg circle {
  stroke: #7521b9;
}

.movieView .basicInfo .movieRating .bgCircle circle {
  stroke: var(--bgColor);
}

.movieView .basicInfo .release {
  font-weight: bold;
}

.movieView .basicInfo .release:after, .movieView .basicInfo .voteCount:after, .movieView .basicInfo .runtime:after {
  content: "|";
  margin-left: 0.4rem;
  font-weight: normal;
}

.movieView .overview {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.movieView a {
  margin-top: auto;
}

.movieView .genres {
  width: 100%;
  margin: 1.4rem 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.4rem 0.6rem;
  -ms-grid-columns: (minmax(8rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  -ms-grid-rows: (1fr)[auto-fill];
      grid-template-rows: repeat(auto-fill, 1fr);
}

.movieView .genreItem {
  height: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: var(--secColor);
}

#darkModeToggle {
  background-color: var(--mainColor);
  border: none;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  height: 1.4rem;
  width: 5.2rem;
  font-size: 0.8rem;
  text-transform: lowercase;
}

#darkModeToggle .switchHandle {
  border: 1px solid var(--fontColor);
  background-color: var(--secColor);
  opacity: 0.4;
}

#darkModeToggle:after {
  font-weight: bold;
}

#darkModeToggle.darkActive:before {
  font-weight: bold;
}

#darkModeToggle.darkActive:after {
  font-weight: unset;
}

#notFound {
  height: 70vh;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

#notFound img {
  width: 18rem;
  max-width: 100%;
  padding-bottom: 2rem;
}

@media (max-width: 767px) {
  .normalNav {
    max-width: 94% !important;
  }
  .normalNav ul,
  .normalNav .autoSuggestInput {
    display: none !important;
  }
  .normalNav .darkModeToggle {
    margin-left: auto;
  }
  .normalNav .openNavIcon {
    display: block;
  }
  .normalNav h3 {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=app.css.map */