* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  --bgColor: rgb(187, 187, 187);
  --secColor: rgb(223, 223, 223);
  --mainColor: green;
  --fontColor: black;
  background-color: var(--bgColor);
  min-height: 100vh;
}

.App.darkMode {
  --bgColor: rgb(59, 59, 59);
  --secColor: rgb(90, 90, 90);
  --mainColor: rgb(117, 33, 185);
  --fontColor: white;
  background-color: var(--bgColor);
}

.App * {
  color: var(--fontColor);
}

.textCenter {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  padding-bottom: 2rem;
}

main,
.inner {
  width: 80rem;
  max-width: 94%;
  margin: 0 auto;
}

main {
  padding-top: 3rem;
}

nav {
  height: 3rem;
  text-transform: uppercase;
  background-color: var(--secColor);
}

nav .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .inner > ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 20rem;
}

.autoSuggestInput {
  width: 18rem !important;
  height: 2rem !important;
  margin: 0 1rem 0 auto !important;
  border-radius: 1rem !important;
}

.autoSuggestInput .ASI_FlexContainer {
  border-radius: 0.9rem;
}

.autoSuggestInput * {
  background-color: var(--bgColor) !important;
}

.autoSuggestInput .spinner * {
  background-color: var(--fontColor) !important;
}

.autoSuggestInput .ASI_SuggestionItem:hover,
.autoSuggestInput .ASI_Active {
  background-color: var(--secColor) !important;
}

.autoSuggestInput input {
  border: none;
}

.autoSuggestInput .ASI_Submit {
  min-width: calc(2rem - 2px) !important;
  background-image: url("../static/searchIcon.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
}

.thumbnailGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(16rem, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0.2rem;
}

.movieItem {
  width: 100%;
  /* height: 12rem; */
  position: relative;
}

.movieItem img {
  /* height: 100%; */
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movieItem p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  padding: 0.2rem 0.4rem;
  color: black;
  font-weight: bold;
}

.movieView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.movieView img {
  width: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.movieView .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 20rem;
  max-width: 100%;
  padding: 0.2rem 1rem;
}

.movieView p {
  margin: 0.4rem 0;
}

.overview {
  margin-top: 2rem !important;
}

.genres {
  width: 100%;
  margin: 1.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.genreItem {
  margin: 0 0.4rem;
  padding: 0 1rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: lightgray;
}

.darkModeToggle {
  height: 1.2rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid var(--bgColor);
  text-transform: lowercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding-left: 0.7rem;
  background-color: #303030;
  color: #e9e9e9;
  line-height: 2rem;
}

.darkModeToggle input {
  display: none;
}

.darkModeToggle .switch-handle {
  background-color: #e9e9e9;
  color: #303030;
  border-radius: 2rem;
  position: absolute;
  left: calc(100% - 1.2rem);
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.darkModeToggle .switch-handle:before {
  content: "";
  border-radius: 2rem;
  height: 100%;
  width: 1.2rem;
  background-color: #919191;
  margin-right: 0.1rem;
}

.darkModeToggle.darkModeActive .switch-handle {
  left: 0;
}
/*# sourceMappingURL=app.css.map */